body {
  background-color: #f0ebf8;
}

.header {
  /* todo: change this to 135 when you add on click event */
  height: 215px;
  width: 767px;
  margin: auto;
  background-color: white;
  margin-top: 40px;
  border-radius: 10px;
  text-align: center;
}
#headerCard #hr {
  width: 720px;
  background-color: rgb(224, 224, 224);
  margin: auto;
  height: 1px;
}
.fontSettings {
  border: 2px solid red;
  width: 720px;
  margin: auto;
  height: 40px;
}
.fontSettings img {
  max-height: 100%;
  float: left;
}
.topdiv {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 10px;
  background-color: #673ab7;
}
.TextBox {
  margin-top: 10px;
  width: 720px;
  outline: none;
  border: none;
}
#headerbox {
  font-size: x-large;
  height: 30px;
}
.fontSettings img:hover {
  background-color: #f0ebeb;
  border-radius: 7px;
}
